// Ad-hoc supplement for noise_floor_check.nf / seed_check.nf: adds resource
// configs for the OSS (non-NIM) process names, which aws_batch_nims.config
// doesn't define since it only ever runs the NIM-named processes. Use with
// `-profile aws_batch_nims -c ad_hoc_mixed.config`.
process {
    withName: RFDIFFUSION {
        container = '520168724997.dkr.ecr.us-east-1.amazonaws.com/nvidia-nims:rfdiffusion'
        accelerator = 1
        cpus = 2
        time = 24.hours
        memory = '16g'
    }

    withName: OPENFOLD3 {
        container = '520168724997.dkr.ecr.us-east-1.amazonaws.com/nvidia-nims:openfold3-v0.5-pixi'
        accelerator = 1
        cpus = 8
        memory = '64g'
        time = 2.hours
        containerOptions = '--shm-size 16g'
    }
}
